<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="HospitalQualityConnection"
       connectionString="Server=tcp:YOUR_SERVER.database.windows.net,1433;Initial Catalog=YOUR_DATABASE;Persist Security Info=False;User ID=YOUR_USER;Password=YOUR_PASSWORD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=60;ConnectRetryCount=3;ConnectRetryInterval=10;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
