<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="HospitalQualityConnection"
       connectionString="Server=tcp:hqd-dev-sql-server.database.windows.net,1433;Initial Catalog=HospitalQualityConnection-1;Persist Security Info=False;User ID=hqd_admin;Password=Ph@p0000;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=60;ConnectRetryCount=3;ConnectRetryInterval=10;"
       providerName="System.Data.SqlClient" />
</connectionStrings>
